.row
  .col-md-4
    .panel.panel-default
      .panel-heading=t('.status')
  .col-md-4
    .panel.panel-default
      .panel-heading=t('.users')
  .col-md-4
    .panel.panel-default
      .panel-heading=t('.options')