.big-title {
  text-align: center;
}

.controls {
  margin-top: 20px;
  text-align: center;

  .btn {
    background: rgba(231, 231, 231, 0.4) !important;
  }
}

.features {
  margin-top: 40px;

  .feature {
    text-align: center;

    .icon {
      font-size: 150px;
    }

  }
}