@import "bootstrap-datepicker3";
@import "views/transactions_table";

.paginator {
  margin-top: 5px;
  font-size: 110%;
}

.date-filter {
  font-size: 110%;
  text-align: center;

  .select-date {
    cursor: pointer;
    border-bottom: 1px dotted #333;
  }

}