%table.table.table-bordered.table-condensed(data-bind="with: devicesTable")
  %tbody
    / ko foreach: devices
    %tr
      %td
        %span(data-bind="text: hub.name")
        = bt_icon :'angle-right'
        %span(data-bind="text: name")
      %td
        = bt_button text: 'Включить', style: :success, data: { bind: 'click: turnOn, visible: !turnedOn()' }
        = bt_button text: 'Выключить', style: :warning, data: { bind: 'click: turnOff, visible: turnedOn()' }
    / /ko