@mixin link-variant($color) {
  color: $color;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: darken($color, 10%);
  }

}

.link {
  color: $text-muted;
  cursor: hand;
  padding: 2px;

  i.fa {
    text-decoration: inherit;
  }

  &:visited, &:focus, &:active, &:hover {
    text-decoration: none;
  }

  .link-default {
    color: $link-color;

    &:hover {
      color: $link-hover-color;
    }
  }

  &.link-white {
    @include link-variant(#fff)
  }

  &.link-primary {
    @include link-variant($btn-primary-bg)
  }

  &.link-success {
    @include link-variant($btn-success-bg)
  }

  &.link-info {
    @include link-variant($btn-info-bg)
  }

  &.link-warning {
    @include link-variant($btn-warning-bg)
  }

  &.link-danger {
    @include link-variant($btn-danger-bg)
  }

  &.link-xs, &.link-sm {
    font-size: $font-size-small;
  }

  &.link-lg {
    font-size: $font-size-large;
  }

}