.list-group-item {
  padding: 6px 15px;
  border: none;
  border-width: 0;
  border-left: 3px solid transparent;
}

a.list-group-item:hover, 
a.list-group-item.active, 
a.list-group-item.active:hover, 
a.list-group-item.active:focus {
  z-index: 2;
  color: #555555;
  background-color: #f7f7f7;
  border-left: 3px solid #4cd9c0;
}