.navbar-nav {
  & > li {
    height: $navbar-height;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;

    &:not(:first-child) {
      margin-left: -1px;
    }

    & > a {
      border: 0;
    }

    span, a {
      vertical-align: middle;
      line-height: 24px;
    }

    &:hover {
      background: $navbar-default-bg;
      border-left: 1px solid $navbar-default-border;
      border-right: 1px solid $navbar-default-border;
    }
  }
}

.navbar-brand {
  line-height: inherit;
}

.nav-condensed a {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.navbar-nav-justified {
  margin: 0 auto;
  display: table;
  table-layout: auto;
  float: none;
  width: 100%;

  li {
    display: table-cell;
    float: none;
    text-align: center;
  }

}

.navbar-second {
  z-index: auto;
}

.books-menu {

  li {

    table {
      height: 28px;
      width: 100%;
    }

    td {
      font-size: $font-size-base;
    }

    .actions {
      width: 16px;
      a {
        display: none;
      }
    }

    i.fa {
      height: auto;
    }

    &:hover .actions a {
      display: inline-block;
    }

    &.active td {
      color: $component-active-color;
    }

  }

  table.manage {
    width: 100%;

    td {
      padding: 0 2px;
      text-align: center;
    }

    .btn {
      line-height: 1.5;
    }

    i.fa {
      height: auto;
    }

  }

}