.panel.panel-default {
 .panel-heading {
    font-size: $font-size-large;
    font-weight: 300;
    color: #555;
    background-color: white;
    border: none;
    padding: 10px;

    a {
      color: #555;
    }
  }

  .panel-subheading {
    font-size: $font-size-small;
    color: #999;
    padding: 10px;
  }

  .panel-heading + .panel-subheading,
  .panel-heading + .panel-body,
  .panel-subheading + .panel-body {
    padding-top: 0;
  }

  hr {
    margin: 18px -15px;
  }

}

.panel-centered {
    position: relative;
    width: 350px;
    margin: 80px auto 0 auto;
}