.table {
  font-size: $font-size-base;
}

.table-properties {
  width: 100%;

  td {
    padding: 3px;
  }

  .column-key {
    font-size: $font-size-small;
    width: 1px;
    vertical-align: top;
    padding-right: 10px;
  }

  .column-value {
    font-size: $font-size-base;
  }

}