$font-family-sans-serif:  "Open Sans", sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          13px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

$navbar-height:                    40px !default;
// $navbar-margin-bottom:            0 !default;

$navbar-default-color:             #777 !default;
$navbar-default-bg:                rgba(231, 231, 231, 0.4) !default;
$navbar-default-border:            #ccc !default;

// $border-radius-base:        0px !default;
// $border-radius-large:       0px !default;
// $border-radius-small:       0px !default;

$panel-bg:                          #fff !default;
$panel-body-padding:                15px !default;
$panel-heading-padding:             10px 15px !default;
$panel-footer-padding:              $panel-heading-padding !default;
$panel-border-radius:               0 !default;