-content_for :styles do
  =stylesheet_link_tag 'views/transaction_new_or_edit', media: "all"
-content_for :scripts do
  =javascript_include_tag 'views/transaction_new_or_edit'
  = render 'transaction/new_or_edit_resources'

:javascript
  var startData = {
    mode: '#{ @mode }',
    transaction: #{ @transaction.to_json_with_operations(I18n.locale.to_s) },
    action: 'edit'
  }
= render 'transaction/new_or_edit'