.money-input {
  display: inline-block;
  vertical-align: middle;
  
  .value {
    width: 100px;
  }

  .currency {
    cursor: default;

    &.selectable {
      border-bottom: 1px dotted #333;
      cursor: pointer;
    }

    &:hover {
      text-decoration: none;
    }

  }

  .av-dropdown-drop {
    margin-top: 8px;
    
    .select-list {
      max-height: 250px;
      overflow-y: auto;
    }

  }


}