.navbar.navbar-default.navbar-static-top(role="navigation")
  .container
    .navbar-header
      %button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-collapse-1")
        %span.sr-only
          Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand(href="/")
        %span 
          = Settings.app_name
    .collapse.navbar-collapse(id="navbar-collapse-1")
      %ul.nav.navbar-nav
      %ul.nav.navbar-nav.navbar-right
        - if authenticated?

          %li.dropdown
            %a.dropdown-toggle(href="#" class="" data-toggle="dropdown")
              = avatar_image current_user
            %ul.dropdown-menu(role="menu")
              %li.dropdown-header(role="presentation")= current_user.display_name
              %li.divider
              - if current_book
                %li.dropdown-header(role="presentation")= t('.current_book')
                %li
                  %a{ href: book_details_path(key: current_book.key) }= current_book.display_name
                %li
                  %a{ href: books_index_path }= t('commands.change')
              - else
                %li.dropdown-header(role="presentation")= t('.current_book_not_selected')
                %li
                  %a{ href: books_index_path }= t('commands.choose')
              %li.divider
              %li
                %a{ href: logout_path }=t('commands.logout')
        - else
          %li
            %a{ href: login_path }=t('commands.login')
          - if Settings.security.registration_mode != :disabled
            %li
              %a{ href: register_path }=t('commands.register')
          