@import "ffinances/variables";
@import "ffinances/mixins";

@import "bootstrap";
@import "font-awesome";

@import "ffinances/site";

@import "ffinances/panel";
@import "ffinances/toolbar";
@import "ffinances/table";
@import "ffinances/forms";
@import "ffinances/list-group";
@import "ffinances/links";
@import "ffinances/dropdown";
@import "ffinances/select-list";
@import "ffinances/input";
@import "ffinances/helpers";
@import "ffinances/navbar";
@import "ffinances/button";
@import "ffinances/page";
@import "ffinances/cchosen";
@import "ffinances/avatar";

.form-horizontal .control-label {
  font-weight: normal;
  font-size: 95%;
  padding-top: 9px;
}

.site-content > .main-container {
  margin-top: 20px;
}

.validation-message {
  display: block;
}

.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}

a {
  color: #333;
  i.fa {
    text-decoration: inherit;
  }
  &:hover {
    color: #333;
  }
}